

<fuse-drawer
    class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [name]="'elevDrawer'"
    [position]="'right'"
    #elevDrawer>

    <div class="flex flex-col w-full overflow-auto bg-card">
  <!--       <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
            <mat-icon
                class="icon-size-5 text-current"
                   svgIcon="heroicons_outline:user-add"></mat-icon>

            <div class="ml-3 text-2xl font-semibold tracking-tight">Ajouter un élève</div>
            <button
                class="ml-auto"
                mat-icon-button
                (click)="elevDrawer.close()">
                <mat-icon
                    class="text-current"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div> -->

        <div  class="flex flex-col mt-8 p-8 bg-card rounded-2xl shadow overflow-hidden">


            <label class="hoverable" for="fileInput">
                <img [src]="url ? url : '../assets/images/avatars/1avatar.png'"> 
                <div class="hover-text"><mat-icon svgIcon="heroicons_outline:document-add"></mat-icon>
                </div>
                <div class="background"></div>
              </label>
              <br/>
              <input id="fileInput" type="file" accept=".png, .jpeg, .jpg, .webm" (change)="onSelectFile($event)">
              <a *ngIf="url" class="deletImage" (click)="delete()" >
                <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
            </a>


            <div class="flex">
                <mat-form-field
                    [ngClass]="formFieldHelpers"
                    class="flex-auto">
                    <input
                    [(ngModel)]="nom"
                        matInput
                        [placeholder]="'Nom'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_outline:users'"></mat-icon>
                   
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field
                    [ngClass]="formFieldHelpers"
                    class="flex-auto">
                    <input
                    [(ngModel)]="prenom"
                        matInput
                        [placeholder]="'Prenom'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_outline:user'"></mat-icon>
                   
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field
                    [ngClass]="formFieldHelpers"
                    class="flex-auto">
                    <input
                    [(ngModel)]="idMassare"
                        matInput
                        [placeholder]="'ID massare'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_outline:academic-cap'"></mat-icon>
                   
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field
                    [ngClass]="formFieldHelpers"
                    class="flex-auto">
                    <input
                    [(ngModel)]="dateNaissance"
                        matInput
                        [matDatepicker]="picker2"
                        [placeholder]="'Date de naissance'">
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field
                    [ngClass]="formFieldHelpers"
                    class="flex-auto">
                    <input type="text"
                    [(ngModel)]="pCin"
                    placeholder="CIN du payeur"
                    matInput
                    [matAutocomplete]="payeur">
             <mat-autocomplete  #payeur="matAutocomplete" [displayWith]="displayP.bind(this)">
               <mat-option *ngFor="let option of payeurOptions " [value]="option">
                 {{option.nom}}&nbsp;{{option.prenom}}
               </mat-option>
             </mat-autocomplete>
                   
                </mat-form-field>
            </div>


            <div class="flex">
                <mat-form-field
                    [ngClass]="formFieldHelpers"
                    class="flex-auto">
                    <input type="text"
                    [(ngModel)]="eClass"
                    placeholder="classe"
                    matInput
                    [matAutocomplete]="class">
             <mat-autocomplete autoActiveFirstOption #class="matAutocomplete" [displayWith]="displayC.bind(this)">
               <mat-option *ngFor="let option of classOptions " [value]="option">
                 {{option.nom}}
               </mat-option>
             </mat-autocomplete>
                   
                </mat-form-field>
            </div>
            <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                <button  (click)="elevDrawer.close()" mat-button>
                    Cancel
                </button>
                <button type="submit"
                    class="px-6 ml-3"
                    mat-flat-button
                    (click)="onSubmit()"
                    [color]="'primary'">
                    Save
                </button>
            </div>
        </div>

    </div>

</fuse-drawer>
