


          <div class="card">
            <div class="banner">
      


              <img
              
              [src]="eleve.image">
              
            </div>
            <div class="menu">
            </div>
           

            <h2 class="mt-4 name text-xl">{{eleve.nom}} {{eleve.prenom}}</h2>
            <h2 class="name text-sm">{{eleve.idMassar}}</h2>
            <div class="actions">
              <ng-container *ngIf="!paymentMode; else templetpayment " >

              <div class="calenda">
                <div class="year-header">
                  <button   (click)="changeYear(-1)" mat-icon-button><mat-icon svgIcon="heroicons_outline:chevron-left"></mat-icon>
                  </button>
                  <h1 class="text-black font-extrabold rounded-lg  text-lg">{{ currentYear }}</h1>
                 
                  <button (click)="changeYear(1)" mat-icon-button>
                    <mat-icon [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                </button>
                </div>
                <div class="months">
                  <div *ngFor="let month of months; let i = index" class="calendar-month" >
                   
                    <button mat-raised-button  (click)="payMonth(month)"
                    [matTooltip]="getDate(currentYear, i + 1)| date: 'dd/MM/yyyy'" matTooltipPosition="above" data-toggle="tooltip" data-placement="top"  type="button" class="w-full h-full" [ngClass]="isMonthPaid(currentYear, i + 1)? 'outline-none text-white bg-green-700 hover:bg-green-800 ring-4 ring-green-300 font-medium rounded-lg text-base	 px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800':'text-white bg-[#24292F]/50 hover:bg-[#4285F4]/55  focus:outline-none focus:ring-[#4285F4]/55 font-medium rounded-lg  dark:focus:ring-[#4285F4]/55 font-medium  text-base	 px-5 py-2.5 mr-2 mb-2'">{{ month }}
    
    
                    
    
                    </button>
        
        
        
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-template #templetpayment>
              <mat-tab-group>
                <mat-tab >
                  <ng-template mat-tab-label>
                    <span    >Mensuel</span>
                  </ng-template>

                  <form [formGroup]="mPaymentForm" class="w-full max-w-lg">
                    <div class="flex flex-wrap -mx-3 mb-6 mt-3">
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="montant">
                          Montant
                        </label>
                        <input *ngIf="!mPayment"  [formControlName]="'montant'" class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                          id="montant" name="montant"  type="text" placeholder="Montant">
                          <label *ngIf="mPayment" class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" for="montant">
                            {{mPayment.montant}}
                          </label>

                      </div>
                      <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="paymentObject">
                          Objet
                        </label>
                        <input  [formControlName]="'objet'" class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="montant" name="montant" type="text"  placeholder="Montant">
                      </div>
                    </div>
                
                    <div class="flex flex-wrap -mx-3 mb-2">
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="city">
                          Mois
                        </label>
                        <input  [formControlName]="'moisP'" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                          id="mois" name="mois"  type="text" placeholder="Albuquerque">
                      </div>
                     
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="zip">
                          Payeur CIN
                        </label>
                        <input  [formControlName]="'payeur'" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                          id="zip" name="zip" type="text" placeholder="90210">
                      </div>
                      <div *ngIf="mPayment" class="w-full mt-3 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="zip">
                          date de paiement
                        </label>
                        <label  class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" for="montant">
                          {{mPayment.date | date: 'dd/MM/yyyy'}}
                        </label>
                      </div>

                      <div *ngIf="!mPayment" class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                        <button (click)="paymentMode=!paymentMode" mat-button>
                            Cancel
                        </button>
                        <button
                            class="px-6 ml-3"
                            (click)="creatPayment('Mensuel')"
                            mat-flat-button
                            [color]="'primary'">
                            Save
                        </button>
                    </div>

                    </div>
                  </form>
                </mat-tab>
                <mat-tab >
                  <ng-template mat-tab-label>
                    <span    >Transport</span>
                  </ng-template>

                  <form [formGroup]="tPaymentForm" class="w-full max-w-lg">
                    <div class="flex flex-wrap -mx-3 mb-6 mt-3">
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="montant">
                          Montant
                        </label>
                        <input *ngIf="!tPayment"  [formControlName]="'montant'" class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                          id="montant" name="montant"  type="text" placeholder="Montant">
                          <label *ngIf="tPayment" class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" for="montant">
                            {{tPayment.montant}}
                          </label>

                      </div>
                      <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="paymentObject">
                          Objet
                        </label>
                        <input  [formControlName]="'objet'" class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="montant" name="montant" type="text"  placeholder="Montant">
                      </div>
                    </div>
                
                    <div class="flex flex-wrap -mx-3 mb-2">
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="city">
                          Mois
                        </label>
                        <input  [formControlName]="'moisP'" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                          id="mois" name="mois"  type="text" placeholder="Albuquerque">
                      </div>
                     
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="zip">
                          Payeur CIN
                        </label>
                        <input  [formControlName]="'payeur'" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                          id="zip" name="zip" type="text" placeholder="90210">
                      </div>
                      <div *ngIf="tPayment" class="w-full mt-3 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="zip">
                          date de paiement
                        </label>
                        <label  class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" for="montant">
                          {{tPayment.date | date: 'dd/MM/yyyy'}}
                        </label>
                      </div>

                      <div *ngIf="!tPayment" class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                        <button (click)="paymentMode=!paymentMode" mat-button>
                            Cancel
                        </button>
                        <button
                            class="px-6 ml-3"
                            (click)="creatPayment('Transport')"
                            mat-flat-button
                            [color]="'primary'">
                            Save
                        </button>
                    </div>

                    </div>
                  </form>
                </mat-tab>
              </mat-tab-group>
            </ng-template>
            

          </div>






  
      