
                


                        <div class="flex flex-col flex-auto min-w-0">

                            <!-- Main -->
                            <div class="flex-auto p-6 sm:p-10">
                        
                                <!-- CONTENT GOES HERE -->




                                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">
                                        <!-- Summary -->
                                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                            <div class="flex items-start justify-between">
                                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Nombre des élèves payants</div>
                                                <div class="ml-2 -mt-2 -mr-3">
                                                    <button
                                                        mat-icon-button
                                                        [matMenuTriggerFor]="summaryMenu">
                                                        <mat-icon
                                                            class="icon-size-5"
                                                            [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                                    </button>
                                                    <mat-menu #summaryMenu="matMenu">
                                                        <button (click)="eTime ='today'" mat-menu-item>Today</button>
                                                        <button (click)="eTime ='yestrday'" mat-menu-item>Yesterday</button>
                                                        <button (click)="eTime ='dayago'" mat-menu-item>2 days ago</button>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                            <div class="flex flex-col items-center mt-2">
                                                <div *ngIf="eTime=='today'" class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">{{statistics.today.elevePayentToday}}</div>
                                                <div *ngIf="eTime=='yestrday'" class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">{{statistics.yesterday.elevePayentYestrday}}</div>
                                                <div *ngIf="eTime=='dayago'" class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">{{statistics.DayAgo.elevePayentDayAgo}}</div>


                                                <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Élève</div>
                                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                          
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Overdue -->
                                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                            <div class="flex items-start justify-between">
                                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Total des montants</div>
                                                <div class="ml-2 -mt-2 -mr-3">
                                                    <button
                                                        mat-icon-button
                                                        [matMenuTriggerFor]="overdueMenu">
                                                        <mat-icon
                                                            class="icon-size-5"
                                                            [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                                    </button>
                                                    <mat-menu #overdueMenu="matMenu">
                                                        <button (click)="sTime ='today'" mat-menu-item>Today</button>
                                                        <button  (click)="sTime ='yestrday'" mat-menu-item>Yesterday</button>
                                                        <button  (click)="sTime ='dayago'" mat-menu-item>2 days ago</button>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                            <div class="flex flex-col items-center mt-2">
                                                <div  *ngIf="sTime=='today'" class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">{{statistics.today.sizeOfPaymentToday}}</div>
                                                <div *ngIf="sTime=='yestrday'" class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">{{statistics.yesterday.sizeOfPaymentYestrday}}</div>
                                                <div *ngIf="sTime=='dayago'" class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">{{statistics.DayAgo.sizeOfPaymentDayAgo}}</div>
                                                <div class="text-lg font-medium text-red-600 dark:text-red-500">DH</div>
                                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                            
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Issues -->
                                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                            <div class="flex items-start justify-between">
                                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Payment du mois</div>
                                                <div class="ml-2 -mt-2 -mr-3">
                                                    <button
                                                        mat-icon-button
                                                        [matMenuTriggerFor]="issuesMenu">
                                                        <mat-icon
                                                            class="icon-size-5"
                                                            [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                                    </button>
                                                    <mat-menu #issuesMenu="matMenu">
                                                        <button (click)="tTime ='today'" mat-menu-item>Today</button>
                                                        <button (click)="tTime ='yesterday'" mat-menu-item>Yesterday</button>
                                                        <button (click)="tTime ='dayago'" mat-menu-item>2 days ago</button>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                            <div class="flex flex-col items-center mt-2">
                                                <div   *ngIf="tTime=='today'" class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">4</div>
                                                <div *ngIf="tTime=='yesterday'" class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">{{statistics.yesterday.totaleOfInscriptionYestrday}}</div>
                                                <div  *ngIf="tTime=='dayago'" class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">{{statistics.DayAgo.totaleOfInscriptionDayAgo}}</div>
                                                <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Open</div>
                                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                         
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <!-- Github issues summary -->
                                        <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                            <div class="flex flex-col sm:flex-row items-start justify-between">
                                                <div class="text-lg font-medium tracking-tight leading-6 truncate"></div>
                                                <div class="mt-3 sm:mt-0 sm:ml-2">
                                                    <mat-button-toggle-group
                                                        value="this-week"
                                                        #chartWeekSelector="matButtonToggleGroup">
                                                        <mat-button-toggle value="last-week">La semaine dernière</mat-button-toggle>
                                                        <mat-button-toggle value="this-week">Cette semaine</mat-button-toggle>
                                                    </mat-button-toggle-group>
                                                </div>
                                            </div>
                                            <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
                                                <!-- New vs. Closed -->
                                                <div class="flex flex-col flex-auto">
                                                    <div class="font-medium text-secondary">Paiements totaux</div>
                                                    <div class="flex flex-col flex-auto">
                                                        <apx-chart
                                                            class="flex-auto w-full h-80"
                                                            [chart]="chartGithubIssues.chart"
                                                            [colors]="chartGithubIssues.colors"
                                                            [dataLabels]="chartGithubIssues.dataLabels"
                                                            [grid]="chartGithubIssues.grid"
                                                            [labels]="chartGithubIssues.labels"
                                                            [legend]="chartGithubIssues.legend"
                                                            [plotOptions]="chartGithubIssues.plotOptions"
                                                            [series]="chartGithubIssues.series[chartWeekSelector.value]"
                                                            [states]="chartGithubIssues.states"
                                                            [stroke]="chartGithubIssues.stroke"
                                                            [tooltip]="chartGithubIssues.tooltip"
                                                            [xaxis]="chartGithubIssues.xaxis"
                                                            [yaxis]="chartGithubIssues.yaxis"></apx-chart>
                                                    </div>
                                                </div>
                                                <!-- Overview -->
                                                <div class="flex flex-col">
                                                    <div class="font-medium text-secondary">Aperçu</div>
                                                    <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                                                        <!-- New issues -->
                                                        <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                                                            <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                                                {{data.overview[chartWeekSelector.value]['new-payment']}}
                                                            </div>
                                                            <div class="mt-1 text-sm sm:text-lg font-medium">Total des paiements</div>
                                                        </div>
                                                        <!-- Closed -->
                                                        <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                                                            <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                                                {{data.overview[chartWeekSelector.value]['montant-totale']}}
                                                            </div>
                                                            <div class="mt-1 text-sm sm:text-lg font-medium">Montant total</div>
                                                        </div>
                                                   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <!-- Schedule -->
                                    
                                    </div>



                        
                            </div>
                        
                        </div>
                        